.home {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  position: relative;
  row-gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
  align-items: center;
}
.search {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item-search {
  padding: 4px;
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  transition: all 200ms ease-in-out;
  text-align: center;
}
.item-search:focus {
  outline: none !important;
  border-radius: 8px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.171);
  transition: all 200ms ease-in-out;
}
.item-search:hover {
  border-color: black;
}
.fa-search {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.fa-search:hover {
  transform: scale(1.1);
}
.home > h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(1vw + 0.5rem);
  font-weight: bold;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 50px;
}
.modal {
  top: 32px;
  left: 0;
  right: 0;
  position: fixed;
}
@media screen and (max-width: 425px) {
  .home > h2 {
    font-size: calc(1vw + 0.7rem);
  }
}
