.item-container {
  z-index: -1;
  background: rgba(70, 66, 66, 0.164);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-details {
  width: 80vw;
  height: 80vh;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  padding: 1%;
  z-index: 999;
}
.item-img {
  flex: 1.5;
  padding: 5%;
  display: flex;
  align-items: center;
}
.item-img img {
  width: 100%;
  height: auto;
}
.item-desc-container {
  flex: 2;
  position: relative;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.close-modal {
  background-color: crimson;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: all 100ms ease-in;
}
.close-modal > p {
  font-weight: bold;
}
.close-modal:hover {
  transition: all 100ms ease-in;
  transform: scale(1.1);
}
.item-title {
  font-weight: bold;
  font-size: 20px;
}
.color-container {
  width: 70%;
  height: 8%;
  display: flex;
  column-gap: 5%;
}
.item-price {
  font-weight: bold;
}
.item-desc {
  font-size: 16px;
}
.color-1,
.color-2,
.color-3 {
  flex: 1;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.color-1:hover,
.color-2:hover,
.color-3:hover {
  transition: all 100ms ease-in;
  transform: scale(1.07);
}
@media screen and (max-width: 500px) {
  .item-title {
    font-weight: bold;
    font-size: 18px;
  }
  .item-details {
    width: 95vw;
    height: 70vh;
  }
  .item-desc {
    font-size: 14px;
  }
}
