.cards {
  width: 250px;
  height: 320px;
  border-radius: 12px;
  box-shadow: 2px 2px 5px gray;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

.cards-img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.cards-img:hover {
  transition: all 100ms ease-in;
  transform: scale(1.07);
}

@media screen and (max-width: 425px) {
}

.item {
  display: flex;
  height: 18%;
  flex-direction: column;

  justify-content: space-between;
}

.name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.price {
  text-align: center;
  font-size: 12px;
}
