.cart-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px rgb(218, 218, 218) solid;
  flex-wrap: wrap;
}
.item-image {
  width: auto;
  height: 100px;
}
.item-name {
  font-weight: bold;
  width: 25vw;
}
.fa-trash-alt {
  cursor: pointer;
}
