.navbar {
  display: flex;
  height: 64px;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
  top: 0;
  align-items: center;
  background: transparent;
  z-index: 999;
  transition: all 200ms ease-in-out;
}

.navbar * {
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgb(54, 54, 54);
}

.navbar.active {
  background: #fff;
  border-bottom: 5px solid black;
  transition: all 200ms ease-in-out;
}

.navbar.active * {
  color: black;
  text-shadow: none;
  font-size: 16px;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 60%;
  font-size: 16px;
  font-weight: 800;
}
.shop-logo {
  cursor: pointer;
  text-decoration: none;
}

.shop-logo > img {
  height: 60px;
  width: auto;
}
.navbar-items {
  display: flex;
  list-style: none;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
}

.navbar-items > li {
  cursor: pointer;
}
.home-link {
  text-decoration: none;
  color: black;
}
.scroll {
  cursor: pointer;
}
.cart-link {
  display: flex;
  padding-left: 2vw;
  cursor: pointer;
  position: relative;
  color: black;
  text-decoration: none;
}
.nav-link-user {
  color: rgb(119, 29, 29);
  text-transform: uppercase;
  font-size: 15px;
}
.counter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 8px;
  left: 3vw;
  position: absolute;
}

.counter > p {
  text-align: center;
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 425px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding-top: 15vh;
    z-index: -1;
    left: -150%;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 0.7s ease;
    justify-content: flex-start;
    background: #fff;
  }
  .navbar * {
    color: black;
    text-shadow: none;
  }
  .nav-link,
  .nav-link-user {
    padding-right: 6vw;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .navbar-container {
    width: 20%;

    justify-content: space-between;
  }

  .navbar-items.active {
    left: 0px;
    opacity: 1;
    transition: all 0.6s ease;
  }

  .menu-icon {
    display: block;
  }

  .fa-bars {
    cursor: pointer;
  }

  .fa-times {
    cursor: pointer;
  }
  .navbar {
    padding: 0 5vw 0 5vw;
    justify-content: space-between;
  }
}
